<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Imie:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @user.last_name %>
</p>
